body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

/* transition */
.transition,
a {
  transition: 0.2s;
  -moz-transition: 0.2s;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
}
.longerTransition {
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
}

/* navbar */
.navbar {
  position: fixed;
  box-sizing: border-box;
  top: 0;
  width: 100%;
  background-color: #404572;
  padding: 20px;
  padding-left: 10px;
  padding-right: 20px;
  overflow-x: hidden;
  z-index: 100;
}
.navItems {
  float: right;
}
.navbar a {
  color: #f1f1f1;
  font-size: 28px;
  padding: 20px;
  text-decoration: none;
}
.navbar a:hover {
  color: #73cdf3;
}
.navIcon {
  vertical-align: text-bottom;
  height: 28px;
  padding-right: 20px;
  padding-bottom: 4px;
  filter: brightness(130%);
}
/* end navbar */
/* home page */
.overlay {
  height: 100vh;
  display: flex;
  align-items: center;
  padding-left: 10vw;
  background-color: #a4a6bc;
}

.overlay div h1,
.overlay div > p {
  color: white;
}
.overlay div h1 {
  font-size: 64px;
}
.overlay div > p {
  font-size: 36px;
}
.overlay div button {
  background-color: #5d87f3;
  border: none;
  padding: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: white;
  border-radius: 20px;
  cursor: pointer;
  filter: drop-shadow(8px 8px 4px rgba(17, 17, 17, 0.349));
}
.overlay div button:hover {
  background-color: #3962ca;
}
.overlay div button > p {
  font-size: 20px;
  margin: 0;
}
/* about */
.about {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10vw;
  color: #404572;
}
.about h2,
.why h2 {
  font-weight: normal;
  padding-left: 8vw;
  padding-bottom: 20px;
  font-size: 36px;
}
.about p,
.why p {
  font-weight: normal;
  padding-left: 8vw;
  max-width: 920px;
  font-size: 28px;
}
.why {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10vw;
  color: white;
  background-color: #404572;
}
.why h2 {
  padding-top: 10vh;
}
.why p:last-child {
  padding-bottom: 10vh;
}
.author {
  text-align: right;
}
/* report page */
.reportPage {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}
.sidebar {
  background-color: #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebarOpen {
  flex: 0.8;
}
.sidebarClosed {
  flex: 0.2;
}
.sidebar svg {
  transition: 0.2s;
  -moz-transition: 0.2s;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
}
.sidebar svg:hover {
  filter: brightness(1.4);
}
.sidebar .sidebarClose svg {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.sidebar h2,
.sidebar label {
  color: #404572;
}
.sidebar h2 {
  font-size: 32px;
}
.sidebar label {
  font-size: 24px;
}
.searchBar {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
}
.slider {
  grid-template-columns: 5% 5% 80% 5% 5%;
}
.slider > svg {
  z-index: 100;
}
.rs-slider-graduator span {
  color: white;
}

/* error page */
.error-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.error-page a,
.error-page h1 {
  color: #404572;
  margin: 0;
}
.error-page h1 {
  font-size: 64px;
}
.error-page a {
  font-size: 32px;
  text-decoration: none;
}
.error-page a:hover {
  color: #636897;
}
